/* base */
html {
    background-color: #E2E2E2;
}

h1 {
    color: #D55633;
    margin-bottom: 10px;
}
h1 span {
    color: #898585;
    font-size: 0.65em;
    margin-left: 5px;
}
h3 {
    margin: 0;
    padding: 5px 10px;
    color: #fff;
    background-color: #CB4930;
    text-shadow: 1px 1px 2px #7B3622;
}

/* main */
.main-popup {
    position: relative;
    width: 375px;
}

.actions-wrapper .fa {
    color: #666;
}
.todo-actions {
    float: right;
}
.todo-actions a {
    margin-left: 5px;
}
.no-todos {
    display: none;
    margin-bottom: 15px;
}

/* todolist */
.todo-lists .todo {
    display: none;
}
.todo-lists ul {
    margin: 0 0 10px 0;
    padding: 0;
    background-color: #fff;
    list-style: none;
    max-height: 300px;
    overflow: auto;
    border-bottom: 2px solid #bbb;
}
.todo-lists li {
    position: relative;
    padding: 5px;
    border: solid #ccc;
    border-width: 1px 1px 0;
}
.todo-lists label {
    display: block;
}
.todo-lists .title {
    display: inline-block;
    max-width: 310px;
    font-weight: bold;
    color: #444;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.todo-lists .title:hover {
    color: #D33B32;
}
.todo-lists .completed .title {
    text-decoration: line-through;
}
.todo-lists .toto-status {
    margin: 0 5px 0 2px;
}
.todo-lists .note {
    display: block;
    margin: 0 0 0 2.25em;
}

.todo-lists .alarm,
.todo-lists .alert .fa{
    color: #fff;
    font-size: .875em;
    margin: 0.7em 5px 0 0;
}

.todo-dropdown {
    width: 140px;
    margin-bottom: 10px;
    padding: 3px;
    border-radius: 3px;
    background-image: none, linear-gradient(to bottom, rgba(0, 0, 0, 0.01) 0, rgba(0, 0, 0, 0.08) 100%);
}

.item-actions {
    display: none;
    position: absolute;
    right: 5px;
}
.item-actions .fa {
    color: #999;
}
.todo-lists li:hover .item-actions {
    display: block;
}

/* settings */
.todo-settings-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background: rgba(0,0,0,0.65);
}
.todo-settings-inner {
    position: absolute;
    top: 20px;
    right: 20px;
    left: 20px;
    border: 2px solid #545454;
    border-radius: 3px;
    background-color: #fff;
}

.todo-settings > div {
    padding: 10px;
}
.todo-settings > div span {
    display: inline-block;
    width: 5.5em;
}
.todo-settings select {
    box-sizing: content-box;
}
.todo-settings .settings-input {
    width: 18em;
    padding: 3px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.todo-settings .settings-name-wrapper {
    border-bottom: 1px solid #999;
}
.todo-settings .settings-name {
    box-sizing: border-box;
    width: 100%;
    font-size: 1.5em;
    border: 0;
}
.todo-settings .settings-notes {
    resize: vertical;
    min-height: 50px;
}

.todo-settings-close {
    position: absolute;
    right: -1em;
    top: -1em;
    width: 15px;
    height: 15px;
    line-height: 15px;
    text-align: center;
    font-size: 0.75em;
    border: 1px solid #D55633;
    border-radius: 50%;
    background-color: #D55633;
    box-shadow: 0 1px 25px #666;
    z-index: 2;
}
.todo-settings-close:hover {
    border-color: #fff;
}
.todo-settings-close .fa {
    color: #fff;
}

.todo-settings-save {
    margin: 10px;
}

/* alert */
.alert {
    opacity: 0;
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 1px 8px 3px;
    border: 1px solid;
    border-radius: 4px;
    box-shadow: 0 2px 15px #ccc;
}
.alert-success {
    color: #69A97E;
    background-color: #D8F4DB;
    border-color: #AEE4C0;
}
.alert-warn {
    color: #9B935A;
    background-color: #F7EFB8;
    border-color: #DACF82;
}
.alert-error {
    color: #FFF;
    background-color: #DF8B8B;
    border-color: #C57C7C;
}

/* components */
.btn {
    padding: 4px 15px;
    color: #fff;
    background: #d95a34;
    border: 1px solid;
    border-radius: 2px;
}
.btn-primary {
    background-image: linear-gradient(to bottom, #d95a34, #b8342b);
    border-color: #C24F48;
}
.btn-primary:hover {
    background: #d95a34;
    background-image: linear-gradient(to bottom, #ED6C45, #CD3E34);
}

/* helpers */
.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity .2s linear;
}
.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s .35s, opacity .35s linear;
}

.note {
    font-size: .875em;
    color: #999;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}